<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css">
        <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/navcolor.css' %}" type="text/css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    {% load static %}
    <script src="{% static "js/JS.js" %}"></script>
    {% load static %}
    <script src="{% static "js/jquery.1.10.1.min.js" %}"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript">
             function testnull()
            {
                if (document.getElementById('airline').value=='')
                {
                    alert('请先输入URL再使用该功能！');
                    document.getElementById('airline').focus();
                }
            }
        </script>
    <title>网站首页</title>
</head>
<body>
<div id="page" class="page">
    <div class="head-box">
        {% load static %}
        <div class="banner-background" style="background-image: url({% static 'img/banner3.jpg' %}); "></div>
        <div class="mask"></div>
        <div class="min-banner">
            <div class="minb_cen">
            <div class="title"></div>
             <!--搜索框-->
                <div style="position:absolute; left:0; top:0; width:100%; height:100%; ">
                    <div class="row" style="margin-top:140px;">
                        <div class="col-lg-3"></div>
                        <div class="col-lg-6">
                            <form action="" method="post">
                                <div class="input-group" >
                                    <input name="URL" type="text"  class="form-control" placeholder="请输入目标网站的url地址" id="airline">
                                    <span class="input-group-btn" >
                                              <input  class="btn btn-success" type="submit" value="提取表格" onclick="testnull()">提取表格</input>
                                            </span>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-3"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mask"></div>
    </div>


    <div class="header_nav">
        <div class="wrapper">
            <div class="menu-bar">
                <div class="left-part">
                    <a id="huaban" href="/user/"></a>
                    <a href="#" class="active">主页</a>
                    <a href="/hislist/" id="ShowHistory" onclick="ShowHistory()">查看历史</a>
                </div>
                <div class="left-part">
                    <ul class="nav navbar-nav navbar-right">
                        <a href="#" id="btnlogin">{{ username }}</a>
                        <a href="/logout/" id="btnlogon">登出</a>
                    </ul>
                </div>
        </div>
    </div>
    </div>
<!--巨幕-->
<!--巨幕1-->
<div class="jumbotron" style="background-color: #DDF3FF;" >
    <div class="container">
        <h1 class="box" style="text-align: center;color:#000000 "><strong>欢迎您使用云表格!</strong></h1>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <hr style="height:0px;border:none;border-top:5px double #000000 ;"/>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <h2 style="text-align: center;color:#000000 "><strong>我们建立这个网站</strong></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <h2 style="text-align: center;color:#000000 "><strong>旨在帮您获取目标网站的表格</strong></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <h2 style="text-align: center;color:#000000 "><strong>一些实用的操作帮您更好地使用这些数据</strong></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <hr style="height:0px;border:none;border-top:5px double #000000 ;"/>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
</div>
<!--巨幕2-->
<div class="jumbotron" style="background-color: seagreen" >
    <div class="container">
        <h1 style="text-align: center;color: white; padding-bottom:20px"><span class="glyphicon glyphicon-envelope"></span></h1>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <h2 style="text-align: center;color: white "><strong>当您使用我们的网站后</strong></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <h2 style="text-align: center;color: white "><strong>请允许耗费您一点宝贵的时间</strong></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <h2 style="text-align: center;color: white "><strong>复制链接进入网站使用的问卷调查</strong></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <h2 style="text-align: center;color: white "><strong>您的答案将有助于我们后期的改进和优化</strong></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <h2 style="text-align: center;color: white "><strong>非常期待您的参与，衷心感谢！</strong></h2>
            </div>
        </div>
    </div>
</div>
<!--巨幕3-->
<div class="jumbotron" style="background-color: #3ce78c;" >
    <div class="container">
        <h1 style="text-align: center;color: seagreen; padding-bottom: 20px"><span class="glyphicon glyphicon-qrcode"></span></h1>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <h2 style="text-align: center;color:seagreen "><strong>我们的网站正在起步阶段</strong></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <h2 style="text-align: center;color: seagreen "><strong>功能不是很完善，还存在方方面面的问题</strong></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <h2 style="text-align: center;color: seagreen "><strong>所以您的意见和建议对我们来说非常宝贵</strong></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <h2 style="text-align: center;color: seagreen "><strong>如果您还有问题，请扫描上方二维码或通过邮件与我们取得联系。</strong></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <h2 style="text-align: center;color: seagreen "><strong>Email:liupeifeng.work@foxmail.com</strong></h2>
            </div>
        </div>
    </div>
</div>
    <!--登陆窗口-->
    <div id="corInsertHref" class="corInsertHref">
    <div class="row">
        <div class="col-lg-10"></div>
        <div class="col-lg-2"  ><button type="button" id="cBtn" class="btn btn-default btn-sm btn-info">
            <span class="glyphicon glyphicon-remove" ></span></button></div>
    </div>
    <form role="form" action="" method="post" value="from2" enctype="multipart/form-data">
        <div class="form-group">
            <label for="exampleInputEmail1">用户名：</label>
            <input type="text" name="username"  class="form-control" id="exampleInputEmail1" placeholder="请输入你的用户名...">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">密码：</label>
            <input type="password" name="password"  class="form-control" id="exampleInputPassword1" placeholder="请输入你的密码...">
        </div>
        <div class="form-group checkbox">
            <label>
                <input type="checkbox">记住密码
            </label>

            <a href="/test/" style="margin-left: 200px">忘记密码？</a>
        </div>

        <input type="submit" value="登录" class="btn btn-info btn-block"/>

        <div class="form-group">
            <p class="help-block">还没有账户？<a href="#2" id="btnlogon2">点击注册</a></p>
        </div>
    </form>
   </div>
   <div id="corBackground" class="corBackground"></div>
    <!--注册窗口-->
    <div id="corInsertHref2" class="corInsertHref">
        <div class="row">
            <div class="col-lg-10"></div>
            <div class="col-lg-2"  ><button type="button" id="cBtn2" class="btn btn-default btn-sm btn-info">
                <span class="glyphicon glyphicon-remove" ></span></button></div>
        </div>
        <form role="form" form action = '' method = 'post' value="from2" enctype="multipart/form-data">
            <div class="form-group">
                <label for="exampleInputEmail1">用户名：</label>
                <input type="text" name="username" class="form-control" id="exampleInputEmail2" placeholder="请输入你的用户名..." onblur="blurName(this.value);">
                <span id="checkName" class="checkName"></span>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">密码：</label>
                <input type="password" name="password1" class="form-control" id="exampleInputPassword2" placeholder="请输入你的密码..." onblur="blurPwd(this.value);">
                <span id="checkPwd" class="checkPwd"></span>
                <div  style="margin-left: 200px"><span class="pwdstrength" id="ruo">弱</span>
                <span class="pwdstrength" id="zhong" style="margin-left: 50px">中</span>
                <span class="pwdstrength" id="qiang" style="margin-left: 100px">强</span></div>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">确认密码：</label>
                <input type="password" name="password2" class="form-control" id="exampleInputPassword3" placeholder="请输入你的密码..." onblur="blurPwdOk(this.value)">
                <span id="checkOk" class="checkOk"></span>
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">邮箱：</label>
                <input type="email" name="email" class="form-control" id="exampleInputPassword3" placeholder="请输入你的邮箱地址..." onblur="blurPwdOk(this.value)">
            </div>
               <input type="submit" value="注册"  class="btn btn-info btn-block" style="margin-top: 30px"/>
        </form>
    </div>
    <div id="corBackground2" class="corBackground"></div>
</body>
</html>
{% load static %}
   <script src="{% static "js/jquery.1.10.1.min.js" %}"></script>
<script>
    $(document).ready(function(){

        var div1 = $(".menu-nav");
        var div2 = $(".header-main-menu");
        var timer=null;
        $(div1).mouseover(
                function(){
                    clearTimeout(timer);
                    $(div2).css({"display":"block"})
                });

        $(div1).mouseout(function(){
            timer = setTimeout(function(){
                $(div2).css({"display":"none"})
            },500);
        });
        $(div2).mouseover(function(){
            clearTimeout(timer);
        })
        $(div2).mouseout(function(){
            timer = setTimeout(function(){
                $(div2).css({"display":"none"})
            },500);
        });

        window.onscroll = function (){
            var itop1 = document.body.scrollTop || document.documentElement.scrollTop;
            if(itop1>452){
            $(".header_nav").css({"background":"#E24A45"})
            }else{
                $(".header_nav").css({"background":"none"})
            }

        };
        var black_zd = $(".black_zd");
        $(".register").click(function(){
            $(".black_zd,.sign-up").css({"display":"block"})
        });
        $(".h_login").click(function(){
            $(".black_zd,.login").css({"display":"block"})
        })
        $(".close").click(function(){
        $(black_zd).css({"display":"none"})
        $(".login,.sign-up").css({"display":"none"})
            });

        $(".red-link").click(function(){
            $(".sign-up").css({"display":"block"})
            $(".login").css({"display":"none"})
        });
        $(".brown-link").click(function(){
            $(".sign-up").css({"display":"none"})
            $(".login").css({"display":"block"})
        });
        $(".reset-password").click(function(){
         $(".sign-up").css({"display":"none"})
            $(".login").css({"display":"none"})
        $(".reset").css({"display":"block"})
});
        $(".back").click(function(){
            $(".sign-up").css({"display":"none"})
            $(".login").css({"display":"block"})
            $(".reset").css({"display":"none"})
        });

    });
</script>