<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/navcolor.css' %}" type="text/css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    {% load static %}
    <script src="{% static "js/JS.js" %}"></script>
    {% load static %}
    <script src="{% static "js/show.js" %}"></script>
    <script type="text/javascript">
        function moveUp(_a){

            var _row = _a.parentNode.parentNode;
            var _node = _row.previousSibling;
            while(_node && _node.nodeType != 1){
                _node = _node.previousSibling;
              }
              if(_node){
                swapNode(_row,_node);
              }
            _a.stopPropagation();
            return false;
            }
        function moveDown(_a){
            var _row = _a.parentNode.parentNode;
              //如果不是最后一行，则与下一行交换顺序
              var _node = _row.nextSibling;
              while(_node && _node.nodeType != 1){
                _node = _node.nextSibling;
              }
              if(_node){
                swapNode(_row,_node);
              }
            _a.stopPropagation();
            return false;
            }
        function swapNode(node1,node2){
              //获取父结点
              var _parent = node1.parentNode;
              //获取两个结点的相对位置
              var _t1 = node1.nextSibling;
              var _t2 = node2.nextSibling;
              //将node2插入到原来node1的位置
              if(_t1)_parent.insertBefore(node2,_t1);
              else _parent.appendChild(node2);
              //将node1插入到原来node2的位置
              if(_t2)_parent.insertBefore(node1,_t2);
              else _parent.appendChild(node1);
            _a.stopPropagation();
            return false;
            }
    </script>
    <script type="text/javascript">
        function deleteRew(r) {
            var i;
            i = r.parentNode.parentNode.rowIndex;
            var oi = r.parentNode.parentNode.parentNode;
            oi.deleteRow(i)
            return false;
        }
    </script>
    {% load static %}
    <script src="{% static "js/table_cz.js" %}"></script>
    <title>提取表格展示页</title>
</head>
<body>
<!--导航条-->
<nav class="navbar navbar-default" role="navigation" style="margin: auto; left:0; top: 0; width:100%; ">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">表格提取</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/welcome/">主页</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% for item in nov_data %}
                        {% if forloop.first %}
                            <li><a href="#" id="btnlogin">{{ item.name }}</a></li>
                        {% endif %}
                    {% endfor %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div style="top: 70px; width:100%; ">
    <div class="row" style="margin-top:25px;">
        <input type="search" class="col-md-8 col-md-offset-1 light-table-filter" data-table="order-table" placeholder="请输入您要查找的内容" style="padding: 6px 12px;">
    </div>
    {% for item_table in table_list %}
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-10 col-md-offset-1" style="padding: 0px !important;">
                <div class="tbl-content">
                    <table id="myTable" class="order-table" class="heavyTable"  cellpadding="0" cellspacing="0" border="0">
                    <tbody style="!important;width:100%;!important;max-width: 600px!important;">
                        {% for item_tr in item_table %}
                            {% if forloop.first %}
                                    {% for item_hd in item_tr %}
                                        <th>{{ item_hd | safe }}</th>
                                    {% endfor %}
                                    <th>操作</th>
                            {% else %}
                                <tr>
                                    {% for item_hd in item_tr %}
                                        <td>{{ item_hd | safe }}</td>
                                    {% endfor %}
                                    <th>
                                        <input id="up" class="btn btn-info" type="button" value="上移" onclick="moveUp(this)">
                                        <input class="btn btn-info" type="button" value="下移" onclick="moveDown(this)">
                                        <input class="btn btn-danger" type="button" value="删除" onclick="deleteRew(this)">
                                    </th>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
</body>
</html>