<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="row" style="margin-top:80px">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="input-group">
                <form action="/welcome/" method="post">
                    <input name="URL" type="text" class="form-control" placeholder="请输入目标网站的url地址">
                    <span class="input-group-btn">
                        <input  class="btn btn-success"   type="submit" value="提取表格"/>
                    </span>
                </form>
            </div>
        </div>
        <div class="col-lg-3"></div>
     </div>
</body>
</html>